@use "../../../../../scss/animations.scss" as *;

.card {
  background-color: white;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  row-gap: 25px;
  column-gap: 10px;

  opacity: 0;
  animation: appear 200ms ease-in-out forwards;

  padding: 10px;

  &__title {
    grid-column: 1 / 7;
  }

  &__section {
    grid-column: 1 / 7;
    overflow-x: auto;
    overflow-y: hidden;

    &--buttons {
      display: flex;
      display: row nowrap;

      justify-content: flex-end;

      column-gap: 10px;
    }
  }

  &__subtitle {
    font-weight: 500;
    font-size: 1.25rem;

    border-bottom: 1px solid #2d2d2d38;

    color: #2d2d2d;

    padding-bottom: 5px;
    margin-bottom: 10px;
  }

  &__experiencia {
    color: #2d2d2d;
    text-indent: 20px;
    white-space: pre-wrap;
    text-indent: 0px;
  }

  &__table {
    width: 100%;
    padding: 5px;
  }

  &__button {
    cursor: pointer;

    color: #ffffff;

    background-color: #2d2d2d;

    width: 120px;
    height: 40px;

    display: flex;
    place-items: center;
    justify-content: center;

    font-weight: 900;
    text-transform: uppercase;

    background-position: 5% center;
    background-repeat: no-repeat;
    padding: 10px;
    padding-left: 30px;

    &--delete {
      grid-column: 5 / 6;
      background-color: #ce3333;
      background-image: url("../../../../../assets/trash.svg");
    }

    &--export {
      grid-column: 6 / 7;
      background-color: #0c68ed;
      background-image: url("../../../../../assets/export.svg");
    }
  }
}
